aiohttp==3.8.1
aiosignal==1.2.0
arrow==1.2.1
async-timeout==4.0.1
attrs==21.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
bitarray==1.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==6.6
cytoolz==0.11.2
dateparser==1.1.0
docker-py==1.8.0
ecdsa==0.17.0
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
flake8==4.0.1
frozenlist==1.2.0
funcsigs==1.0.2
future==0.18.2
hexbytes==0.2.2
idna==3.3
importlib-resources==5.4.0
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
jsonrpcclient==2.0.1
jsonrpcserver==3.1.1
jsonschema==3.2.0
lru-dict==1.1.7
mccabe==0.6.1
mnemonic==0.20
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
packaging==21.2
parsimonious==0.8.1
path==16.2.0
path.py==12.5.0
pexpect==4.8.0
pluggy==1.0.0
protobuf==3.19.1
ptyprocess==0.7.0
py==1.11.0
pyaes==1.6.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.11.0
pyflakes==2.4.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
python-binance==1.0.15
python-binance-chain==0.1.20
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywallet==0.1.0
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
rlp==2.0.1
secp256k1==0.14.0
sha256==0.1
six==1.16.0
tabulate==0.8.9
toml==0.10.2
toolz==0.11.2
two1==3.10.9
typing-extensions==4.0.0
tzdata==2021.5
tzlocal==4.1
ujson==4.2.0
urllib3==1.26.7
varint==1.0.2
web3==5.24.0
websocket-client==1.2.1
websockets==9.1
yarl==1.7.2
zipp==3.6.0
